.ourWorks-section img {
  width: 100%;
  background-color: black;
  opacity: 0.6;
  object-fit: cover;
  max-height: 640px;
}

.ourWorks-section {
  margin-top: -20px;
  height: 450px;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  height: 100%;
  position: relative;
}

.ourWorks-section .ourWorks-content {
  magin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.ourWorks-section .work-divider {
  border: none;
  height: 2px;
  background-color: #152039;
  margin: 10px 0;
}

.ourWorks-content-title h3 {
  font-size: 40px;
  font-weight: bold;
  color: #152039;
  line-height: 0.1;
  text-align: left;
}

.ourWorks-content-sub-title span {
  font-size: 24px;
  color: #f14902;
  display: flex;
  text-weight: 600px;
  justify-content: flex-start;
  text-align: left;
  width: 860px;
}

.works-list {
  text-align: center;
  margin-top: 20px;
  gap: 10px;
  width: 1400px;
  padding-bottom: 20px;
}

.works-list .work-details {
  padding: 5px 0px;
}

.works-list .work-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.works-list .work-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #152039;
}

.works-list .work-url {
  color: #f14902;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}
