.blog-post {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.title {
  color: #152039;
  font-size: 42px;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.post-data {
  color: #152039;
  line-height: 1.6;
  margin-bottom: 15px;
}

.post-data p {
  color: #152039;
  line-height: 1.6;
}

.meta-data {
  display: flex;
  justify-content: space-between;
}

.published-date,
.author-name {
  font-size: 1rem;
  color: #152039;
}

.author-name {
  margin-left: 10px;
}
