.container-blog {
  height: 80vh;
  background-color: #152039;
  margin: 0 0 20px 0;
  
}
.textContainer {
  padding: 5px;
}
.mainText {
  font-size: 42px;
}

.middle-blogs-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-left: 100px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-grid {
  flex: 1;
  margin-right: 10px;
}

.right-grid {
  flex: 1;
  margin-left: 10px;
}
.blog-read-more {
  color: #f14902;
  text-decoration: none;
}
.blog-read-more:hover {
  color: #fafafa;
}
.blog-content-text {
  font-size: 16px;
  text-align: justify;
  width: 350px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1.mainText {
  animation: fadeIn 4s ease-in-out;
}
