.techstack-section {
  margin: 0 20px;
  height: 300px;
  padding-top: 20px;
  text-align: center;
  margin-bottom: -15px;
}

.techstack-section .techstack-content {
  margin-top: 50px;
}

.techstack-content-title h3 {
  font-size: 40px;
  font-weight: bold;
  color: #152039;
  line-height: 0.1;
  text-align: left;
}

.techstack-icons-section {
  margin: 10px 20px;
}

.techstack-content-sub-title span {
  font-size: 20px;
  color: #152039;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  word-spacing: 3px;
}

.line-container {
  display: flex;
  align-items: center;
}

.line {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: #152039;
}

.end-line {
  width: 100%;
  height: 1px;
  background-color: #152039;
}

.techstack {
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #152039;
}

.techstack-icons {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.techstack-icons img {
  padding: 0px;
  height: 65px;
  width: auto;
}

.techstack-section .slick-slide > div {
  padding: 10px 20px;
  height: 65px;
}

@media (max-width: 960px) {
  .techstack-content-title h3 {
    text-align: center;
  }
  .techstack-content-sub-title span {
    text-align: center;
  }
  .line {
    width: 50%;
  }
  .techstack-icons-section {
    margin-bottom: 100px;
  }

  .end-line {
    width: 100%;
  }
  .techstack-icons-section {
    width: 95%;
    height: auto;
    magin: 0;
    text-align: center;
  }
  .techstack-icons img {
    width: auto;
    height: 65px;
    padding: 5px 10px;
  }
  .techstack-section .slick-slide > div {
    padding: 10px 20px;
    height: 100px;
  }
  .techstack-section {
    height: 400px;
  }
}

@media (max-width: 560px) {
  .techstack-content-title h3 {
    text-align: center;
  }
  .techstack-content-sub-title span {
    text-align: center;
  }
  .techstack-icons-section {
    padding-left: 20px;
    width: 90%;
    magin: 0;
    text-align: center;
  }
  .techstack-icons img {
    width: auto;
    height: 65px;
    padding: 25px;
  }
  .techstack-content-title h3 {
    line-height: 0.95;
  }
  .techstack-section .techstack-content {
    padding-left: 0px;
  }
  .techstack-section {
    height: 450px;
  }
  .techstack-section .slick-slide > div {
    padding: 10px 20px;
    height: 120px;
    width: 90%;
  }
}
