.teck-stack-sec-two{
    margin-right: 80px;
    margin-left: 480px;
    height: 50vh;
    background-color: #152039;
    z-index: 4;
    margin-top: -320px;
    border: 4px solid #152039;
    margin-bottom: 50px;
    box-shadow: 10px 15px 15px rgba(241, 73, 2, 0.5); /* Adding shadow */

}
.left-stack-body-bottom{
    margin-top: 40px;
    margin-right: 40px;
}
.middle-stack-body-bottom{
    margin-top: 40px;
    margin-right: 40px;
}
.right-stack-body-bottom{
    margin-top: 100px;
}