.content-section-homepage {
  margin: 0;
  height: auto;
  padding-top: 20px;
  padding-left: 80px;
  background-color: #152039 !important;
  padding-bottom: 20px;
}

.contact-section .techstack-content {
  margin-top: 50px;
}

.contact-section .contact-content-title{
  display: flex;
  align-items: center;
  /* justify-content: center; */
} 
.content-section-homepage .contact-content-title h3 {
  font-size: 40px;
  font-weight: bold;
  color: #fff !important;
  text-align: left ;
  line-height: 40px;
}

.content-section-homepage .contact-content-sub-title span {
  font-size: 20px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  word-spacing: 3px;
  width: 860px;
}

.contact-section .contact-button {
  margin-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.content-section-homepage .contact-button .contact-email,
.content-section-homepage .contact-button .contact-phone {
  width: 260px;
  height: 47px;
  border: 3px solid #f14902;
  border-radius: 50px;
  color: #fff !important;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact-message-btn{
  padding: 15px 40px;
  background-color: #f14902;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  
}

.contact-message{
  margin-left: 190px;
}

@media screen and (max-width:1120px) {
  .contact-section .contact-button .contact-message{
    margin-left: 0px;
  }

  .content-section-homepage .contact-content-title h3{
    font-size: 40px;
  }
  .content-section-homepage .contact-content-sub-title span{
    font-size: 18px;
    width:auto;
    padding-right: 25px;
   
  }
}

@media screen and (max-width:768px) {
  .contact-section .contact-button .contact-message{
    margin-left: 0px;
  }

  .content-section-homepage .contact-content-title h3{
    font-size: 38px;
    
  }
  .content-section-homepage .contact-content-sub-title span{
    font-size: 15px;
   
   
  }
}

@media screen and (max-width:652px) {

  .content-section-homepage{
    height: auto;
  }
  .contact-section{
    height: auto !important;
  }
  .contact-section .contact-button .contact-message{
    margin-left: 0px;
  }

  .content-section-homepage .contact-content-title h3{
    font-size: 35px;
    
  }
  .content-section-homepage .contact-content-sub-title span{
    font-size: 15px;
    width:auto;
  
  }
}

@media screen and (max-width:480px) {
  .contact-section .contact-button .contact-message{
    margin-left: 0px;
  }

  .contact-section{
    padding-left: auto !important;
    padding-right: auto !important;
  }

  .content-section-homepage .contact-content-title h3{
    font-size: 35px;
    text-align: center ;
  }
  .content-section-homepage .contact-content-sub-title span{
    font-size: 18px;
    width:auto;
    padding-right: 0px;
  }
  .contact-content{
    text-align: center;
  }

  .contact-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .contact-section{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .contact-button{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}