.textFieldContainer{
    margin: 20px 80px 20px 80px;
    margin-left: 80px;
   
 
}
.textFieldSubContainer{
    display: flex;

    
}
#standard-basic{
    width: 500px;
  
   
}
.leftTextField{
    margin-right: 70px;

}
.leftTextField div{
    margin-bottom: 10px;
}
#standard-basic-text-area{
    width: 1070px;
   
    
    
}
.custom-label {
    color: #152039;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}  
.checkBox{
    margin-top: 40px;
    margin-bottom: 20px;
}
.subText{
    color: #152039;
}

.submitBtn {
    border: 1px solid #f14902;
    padding: 10px 35px;
    border-radius: 50px;
    font-size:20px;
    background-color: #f14902;
    color: aliceblue;
    margin-bottom: 50px;
  }
  .submitBtn:hover{
    background-color: #152039;
    border: 1px solid #152039;
    

  }