.leadership-topic{
    color: #152039;
    font-size: 40px;
}
.team-main-container{
    margin-left: 80px;
}

.leadership-sub-text{

    color: #152039;
    margin-top: -20px;
    font-weight: 400;
    margin-bottom: -40px;

}

@media (max-width: 768px) {
    .leadership-topic{
        font-size: 30px;
        margin-top: 40PX;
        text-align: center;
    }
    .team-main-container{
        
        margin: 0;
    }
    .leadership-sub-text{
        margin: 0 20px -60px 20px;
        font-size: 15px;

    }
}