.leadership-topic{
    color: #152039;
    font-size: 40px;
}
.team-main-container{
    margin-left: 80px;
}

.leadership-sub-text{

    color: #152039;
    margin-top: -20px;
    font-weight: 400;
    margin-bottom: -40px;

}