.team-section {
  margin-top: 500px;
  text-align: center;
  height: 560px;
  margin-bottom: -40px;
}

body{
  overflow-x: hidden;
}

.team-section .team-title {
  margin: 0px auto;
  margin-top: -480px;
  font-size: 40px;
  font-weight: bold;
  color: #152039;
  text-align: center;
}

.team-section .our-team-slogan {
  width: 100%;
  margin: 0px auto;
  margin-top: -400px !important;
  color: #152039;
}

.team-section .team-cards {
  width: 90%;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 50px;
}

.team-section .team-cards .photo {
  margin-left: 32px;
  margin-bottom: 4px;
}

.team-section .slick-slide > div {
  margin: 0 10px;
}

.team-section .team-cards .team-card {
  position: relative;
}

.team-section .team-cards .team-card img {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border: 3px solid #f14902;
  object-fit: cover;
}

.team-section .team-cards .members-details {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 79px;
  background: #152039;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 3px;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}
.our-team-slogan {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width:768px){

  .team-section .team-title {
    margin: 0px auto;
    margin-top: -480px;
    font-size: 30px;
    font-weight: bold;
    color: #152039;
    text-align: center;
  }
  .our-team-slogan {
    font-size: 15px;
    font-weight: 600;
  }

  .team-section {
    margin-top: 770px;
    text-align: center;
    height: 560px;
    margin-bottom: -40px;
  }
  
  

}