.hero-section {
  height: 610px;
  background-color: #152039;
  magin: 0;
  padding: 0;
  text-align: left;
}

.hero-section .hero-content {
  padding-top: 50px;
  padding-left: 80px;
}

.hero-section h1 {
  color: #f5f5f5;
  weight: bold;
  font-size: 64px;
}

.hero-section .hero-content .description {
  color: #f5f5f5;
  font-size: 23px;
  font-style: italic;
  font-weight: lighter;
  width: 950px;
  word-spacing: 2px;
  line-height: 1.2;
}

.hero-lower {
  padding-top: 80px;
}

.hero-contact-button {
  border-radius: 50px;
  width: 167px;
  height: 62px;
  background: transparent;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: bold;
  border: 3px solid #f14902;
  cursor: pointer;
}

.hero-contact-button:hover {
  background: #f14902;
  border: none;
  transition: 0.15s ease-in;
}

.hero-works-button {
  border-radius: 50px;
  width: 284px;
  height: 62px;
  background: #f14902;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: bold;
  border: none;
  margin-left: 40px;
  border: 3px solid #f14902;
  cursor: pointer;
}

.hero-works-button:hover {
  background: transparent;
  border: 3px solid #f14902;
  transition: 0.15s ease-in;
}
