.featured-blogs {
  display: flex;
  margin-bottom: 50px;
}
.featured-blogs-left {
  margin-right: 120px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-grid {
  flex: 1;
  margin-right: 10px;
}
.blog-content-text-middle{
    font-size: 16px;
    text-align: justify;
    width: 350px;
    color: #152039;
}

.middle-blogs-container {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}
