.featured-blogs {
  display: flex;
  margin-bottom: 50px;
}
.featured-blogs-left {
  margin-right: 120px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-grid {
  flex: 1;
  margin-right: 10px;
}

.right-grid {
  flex: 1;
  margin-left: 10px;
}

.middle-blogs-container {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}
